<div class="block">
  <div class="product_title"><div style="margin-left: 15px;"> Kontakt </div></div>
  <!--<div class="product_block_cart">
    <div class="product_cart" id="link-to-cart" data-hook><%= link_to_cart %></div>
    <div class="product_cart_img"></div>
  </div>  -->
</div>
<div class="block textpage">
  <div class="MsoNormal" style="text-align: justify;"><span style="font-size: 12pt;"><strong><span lang="EN-US" style="font-family: Arial, sans-serif;">KARPAL</span></strong><span lang="EN-US" style="font-family: Arial, sans-serif;"> &auml;r en svensk firma som s&auml;ljer h&auml;lsoprodukter. Vi fokuserar p&aring; produkter som inneh&aring;ller enbart naturliga &auml;mnen vars effektivitet blivit bekr&auml;ftad av unders&ouml;kningar. <strong>LycoLife</strong> &auml;r v&aring;r f&ouml;rsta produkt p&aring; den svenska marknaden. </span></span></div>
  <div class="MsoNormal" style="text-align: justify;"><span lang="EN-US" style="font-family: Arial, sans-serif; font-size: 12pt;">&nbsp;</span></div>
  <div class="MsoNormal" style="text-align: justify;"><span style="font-size: 12pt;"><strong><span lang="EN-US" style="font-family: Arial, sans-serif; color: #262626;">KARPAL</span></strong><span lang="EN-US" style="font-family: Arial, sans-serif; color: #262626;"> &auml;r den enda distribut&ouml;ren av LyckoLife-drycken i Sverige. </span></span></div>
  <div class="MsoNormal" style="text-align: justify;"><span lang="EN-US" style="font-family: Arial, sans-serif; color: #262626; font-size: 12pt;">&nbsp;</span></div>

  <div class="faq_block_q">test</div>
  <div class="faq_block_a">
    <div class="contact_left">

      <div align="center" class="MsoNormal" style="margin-right: -38.3pt; text-align: center; mso-hyphenate: auto; mso-layout-grid-align: none; text-autospace: none;"><span style="font-size: 12pt;"><strong><span lang="EN-US" style="font-family: Arial,sans-serif; mso-fareast-font-family: Times New Roman; mso-font-kerning: 0pt; mso-fareast-language: PL; mso-bidi-language: AR-SA;">Karpal</span></strong></span></div>
      <div align="center" class="MsoNormal" style="margin-right: -38.3pt; text-align: center; mso-hyphenate: auto; mso-layout-grid-align: none; text-autospace: none;"><span style="font-size: 12pt;"><strong><span lang="EN-US" style="font-family: Arial,sans-serif; mso-fareast-font-family: Times New Roman; mso-font-kerning: 0pt; mso-fareast-language: PL; mso-bidi-language: AR-SA;">Arrendev</span></strong><strong><span lang="EN-US" style="font-family: Arial,sans-serif;">&auml;gen 59</span></strong></span></div>
      <div align="center" class="MsoNormal" style="margin-right: -38.3pt; text-align: center; mso-hyphenate: auto; mso-layout-grid-align: none; text-autospace: none;"><span style="font-size: 12pt;"><strong><span lang="EN-US" style="font-family: Arial,sans-serif;">163 44 Sp&aring;nga</span></strong></span></div>
      <div align="center" class="MsoNormal" style="margin-right: -38.3pt; text-align: center; mso-hyphenate: auto; mso-layout-grid-align: none; text-autospace: none;"><span style="font-size: 12pt;"><strong><span lang="EN-US" style="font-family: Arial,sans-serif;">Stockholm</span></strong></span></div>
      <div align="center" class="MsoNormal" style="margin-right: -38.3pt; text-align: center; mso-hyphenate: auto; mso-layout-grid-align: none; text-autospace: none;"><span style="font-size: 12pt;"><strong><span lang="EN-US" style="font-family: Arial,sans-serif;">Sverige</span></strong></span></div>
      <div align="center" class="MsoNormal" style="margin-right: -38.3pt; text-align: center; mso-hyphenate: auto; mso-layout-grid-align: none; text-autospace: none;"><span style="font-size: 12pt;"><strong><span lang="EN-US" style="font-family: Arial,sans-serif; mso-fareast-font-family: Times New Roman; mso-font-kerning: 0pt; mso-fareast-language: PL; mso-bidi-language: AR-SA;">&nbsp;</span></strong></span></div>
      <div align="center" class="MsoNormal" style="margin-right: -38.3pt; text-align: center; mso-hyphenate: auto; mso-layout-grid-align: none; text-autospace: none;"><span style="font-size: 12pt;"><strong><span lang="EN-US" style="font-family: Arial,sans-serif; mso-fareast-font-family: Times New Roman; mso-font-kerning: 0pt; mso-fareast-language: PL; mso-bidi-language: AR-SA;">tel: +46 728 632 500</span></strong></span></div>
      <div align="center" class="MsoNormal" style="margin-right: -38.3pt; text-align: center; mso-hyphenate: auto; mso-layout-grid-align: none; text-autospace: none;"><span style="font-size: 12pt;"><strong><span lang="EN-US" style="font-family: Arial,sans-serif; mso-fareast-font-family: Times New Roman; mso-font-kerning: 0pt; mso-fareast-language: PL; mso-bidi-language: AR-SA;"><a href="mailto:office@lycolife.se">office@lycolife.se</a></span></strong></span></div>
      <div align="center" class="MsoNormal" style="margin-right: -38.3pt; text-align: center; mso-hyphenate: auto; mso-layout-grid-align: none; text-autospace: none;"><span style="font-size: 12pt;"><strong><span lang="EN-US" style="font-family: Arial,sans-serif; mso-fareast-font-family: Times New Roman; mso-font-kerning: 0pt; mso-fareast-language: PL; mso-bidi-language: AR-SA;"><a href="http://www.lycolife.se/">www.lycolife.se</a></span></strong></span></div>
      <div align="center" class="MsoNormal" style="text-align: center;"><span lang="EN-US" style="font-family: Arial, sans-serif; color: #262626; font-size: 12pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></div>
      <div align="center" class="MsoNormal" style="text-align: center;"><span lang="EN-US" style="font-family: Arial, sans-serif; color: #262626; font-size: 12pt;"><div class="logo_contact"></div></span></div>
      <div class="MsoNormal" style="text-align: justify;"><span lang="EN-US" style="font-size: 12pt;">&nbsp;</span></div>
      <div class="MsoNormal" style="text-align: justify;"><span lang="EN-US" style="font-family: Arial, sans-serif; font-size: 12pt;">&nbsp;</span></div>
      <div class="MsoNormal" style="text-align: justify;"><span style="font-size: 12pt;"><strong><span lang="EN-US" style="font-family: Arial,sans-serif;"><center>F&ouml;r att f&aring; mer information om v&aring;ra produkter ber vi om kontakt via e-mail eller telefon. <br>Vi ska f&ouml;rs&ouml;ka svara p&aring; alla inkomna fr&aring;gor inom 24 timmar.</center><a name="_GoBack">&nbsp;</a></span></strong></span></div>

    </div>

    <div class="contact_right">
      <% 'Kontakt' %>

      <%= form_for @message do |f| %>
          <%= f.error_messages %>

          <%= f.text_field :name, :title => '*Namn', :class => 'defaultText' %> </br></br>

          <%= f.text_field :phone, :title => 'Telefonnummer', :class => 'defaultText'  %> </br></br>

          <%= f.text_field :email, :title => '*Mailadress', :class => 'defaultText' %> </br></br>

          <%= f.text_field :hau, :title => 'Hur fick du information om oss?', :class => 'defaultText' %> </br></br>

          <%= f.text_field :title, :title => '*Amne', :class => 'defaultText' %> </br></br>

          <%= f.text_area :content, :title => '*Meddelande', :class => 'defaultText', :size => '29x5' %> </br></br>

          <%= f.submit 'Send MSG' %>
      <% end %>
    </div>
  </div>
</div>